@import "musicPlayer";

.flex{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.logo{
  border-radius: 50%;
  width:100px;
}

.BgRegister{
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
}

.MuiInputBase{
  box-shadow: 3;
  background-color:"background.paper";
  margin:1px;
  padding:1px;
  width: 8rem;
  height: 5rem;
  .pointer{
    cursor: pointer;
  }
}

.App{
  padding-bottom: 200px;
}

.marginTop{
  margin-top: 60px;
}
.pointer {
  cursor: pointer;
}
audio {
  width: 500px;
  height: 74px;
}